.pixi/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db-journal
*.db-wal
*.db-shm
bin/logic_engine_portable
bin/logic_engine_portable.exe
bin/logic_engine_portable.o
bin/logic_engine_portable.s

.bin/
.vscode/
.tests/*.bin
*.bin.idx
*.bin
data/
*.json
data/
data/
*.json
*.txt
*.db
*.zip
*.bin
*.bin.idx
